h1{
text-align: center;
color: red;
background-color: azure;
}

.main {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 18%;
    margin-right: 17%;
    width: 65%;
    height: 580px;
    border: solid 2px blue;
    background-color: yellow;
    text-align: center; 
}

.sub {
    float: left;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 5px;
    width: 40%;
    border: solid 2px rgb(61, 150, 147);
    background-color:rgb(255, 250, 250);
    overflow-y: auto;
    height: 550px;
}

.input{
    width: 352px;
    height:40px;
    font-size: x-large;
    color:blue;
    font-weight: bold;
}

td{
    width: 50px;
    height: 50px;
    text-align: center;
    color:rgb(235, 11, 179);
    font-size: xx-large;
    font-weight: bold;
}

.score{
    text-align: Left;
    font-size: x-large;
    height: 20px;
}

button{
    width: 50px;
    height: 50px;
    color:rgb(235, 11, 179);
    font-size: x-large;
    font-weight: bold;
}

#match{
    width: 230px;
    height: 50px;
}

#clear{
    width: 110px;
    height: 50px;
}

.wordmatched1{
    width: 295px;
    color: blue;
    background-color: rgb(14, 192, 14);
    text-align: left;
    padding-left: 10px;
}

.wordmismatched1{
    width: 295px;
    color: yellow;
    background-color: red;
    text-align: left;
    padding-left: 10px;
}

.wordmatched2{
    width: 60px;
    color: blue;
    background-color: rgb(14, 192, 14);
    text-align: right;
}

.wordmismatched2{
    width: 60px;
    color: yellow;
    background-color: red;
    text-align: right;
}

.wordmatched{
    width: 40px;
    height: 40px;
}

.wordmismatched{
    width: 40px;
    height: 40px;
}